{% extends 'base_template.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="display-4 mb-4">Método de la Bisección</h1>
    </div>
</div>
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="pb-3 col-lg-4 col-12">
                <label for="f">Función:</label>
                <input type="text" id="f" name="f" class="form-control" placeholder="x**2-4" required>
            </div>
            <div class="pb-3 col-lg-4 col-12">
                <label for="a">Inicio Intervalo:</label>
                <input type="text" id="a" name="a" class="form-control" placeholder="1" required>
            </div>
            <div class="pb-3 col-lg-4 col-12">
                <label for="b">Final Intervalo:</label>
                <input type="text" id="b" name="b" class="form-control" placeholder="2" required>
            </div>
            <div class="pb-3 col-lg-4 col-12">
                <label for="tol">Tolerancia:</label>
                <input type="text" id="tol" name="tol" class="form-control" placeholder="0.0001" required>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Calcular</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            {% if alert == "success" %}
                <div class="alert alert-success" role="alert">
                    {{ error_msg }}
                </div>
            {% elif alert == "danger" %}
                <div class="alert alert-danger" role="alert">
                    {{ error_msg }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}