{% extends 'base_template.html' %}
{% block content %}
    <div class="row my-5">
        <div class="col-md-6 text-center">
            <h2 class="h2 my-5">Ecuaciones de una variable</h2>
        </div>
        <div class="col-md-6 text-center">
            <h2 class="h2 my-5">Sistemas de ecuaciones</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6 text-center">
            <p>Las ecuaciones de una variable son ecuaciones que contienen una sola variable. En este caso, se busca encontrar el valor de la variable que satisface la ecuación.</p>
        </div>
        <div class="col-md-6 text-center">
            <p>Los sistemas de ecuaciones son un conjunto de ecuaciones que contienen varias variables. En este caso, se busca encontrar los valores de las variables que satisfacen todas las ecuaciones.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6 text-center">
            <a href="/ecuaciones" class="btn btn-primary mt-5">Ir a ecuaciones de una variable</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="/sistemas" class="btn btn-primary mt-5">Ir a sistemas de ecuaciones</a>
        </div>
    </div>
{% endblock content %}