{% extends "base_template.html" %}

{% block title %}Gauss Parcial{% endblock %}

{% block content %}
<h1 class="display-4 mb-4">Metodo de Gauss con pivoteo parcial</h1>
<form id="matrixForm" class="mt-4" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="rows" class="form-label">Número de Filas</label>
            <input type="number" id="rows" class="form-control" placeholder="Ingrese el número de filas" min="1" required>
        </div>
        <div class="col-md-6">
            <label for="columns" class="form-label">Número de Columnas</label>
            <input type="number" id="columns" class="form-control" placeholder="Ingrese el número de columnas" min="1" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="matrixInputs" class="my-3">
                <!-- Aquí se generarán dinámicamente los campos de entrada de la matriz -->
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<!-- Result Card -->
<div class="row py-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h3 class="h5 mb-0">Resultado</h3>
            </div>
            <div class="card-body">
                <p class="mb-2"><strong>Matriz Final:</strong>
                    <table class="table border">
                        {% for row in ultima %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </p>
                <p class="mb-2"><strong>Valores hallados de Xn:</strong>
                    <br>
                    {% for value in x %}
                        {{ value }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </br>
                </p>
            </div>
        </div>
        <!-- Alert for Messages -->
        <div class="mt-5">
            {% if alert == "success" %}
                <div class="alert alert-success" role="alert">
                    {{ error_msg }}
                </div>
            {% elif alert == "danger" %}
                <div class="alert alert-danger" role="alert">
                    {{ error_msg }}
                </div>
            {% endif %}
        </div>
    </div>
</div>


<!-- JavaScript -->
<script>
const rowsInput = document.getElementById("rows");
const columnsInput = document.getElementById("columns");
const matrixInputsDiv = document.getElementById("matrixInputs");

// Escucha cambios en los campos de filas y columnas
rowsInput.addEventListener("input", updateMatrixInputs);
columnsInput.addEventListener("input", updateMatrixInputs);

function updateMatrixInputs() {
    // Limpiar el contenedor de inputs
    matrixInputsDiv.innerHTML = "";

    // Obtener el número de filas y columnas
    const rows = parseInt(rowsInput.value);
    const columns = parseInt(columnsInput.value);

    if (!rows || !columns || rows < 1 || columns < 1) {
        return;
    }

    const label = document.createElement("label");
    label.textContent = "Ingrese los valores de la matriz:";
    label.classList.add("form-label", "my-3");
    matrixInputsDiv.appendChild(label);

    // Crear inputs para la matriz
    const table = document.createElement("table");
    table.classList.add("table", "table-bordered");
    for (let i = 0; i < rows; i++) {
        const row = document.createElement("tr");
        for (let j = 0; j < columns; j++) {
            const cell = document.createElement("td");
            const input = document.createElement("input");
            input.type = "number";
            input.name = `A[${i}][${j}]`;
            input.classList.add("form-control");
            cell.appendChild(input);
            row.appendChild(cell);
        }
        table.appendChild(row);
    }

    matrixInputsDiv.appendChild(table);

    //Crear inputs para b
    const labelB = document.createElement("label");
    labelB.textContent = "Ingrese los valores de b:";
    labelB.classList.add("form-label", "my-3");
    matrixInputsDiv.appendChild(labelB);

    const tableB = document.createElement("table");
    tableB.classList.add("table", "col-md-4");
    for (let i = 0; i < rows; i++) {
        const row = document.createElement("tr");
        const cell = document.createElement("td");
        const input = document.createElement("input");
        input.type = "number";
        input.name = `b[${i}]`;
        input.classList.add("form-control");
        cell.appendChild(input);
        row.appendChild(cell);
        tableB.appendChild(row);
    }

    matrixInputsDiv.appendChild(tableB);

    //incluir columnas y filas en el formulario
    const inputRows = document.createElement("input");
    inputRows.type = "hidden";
    inputRows.name = "rows";
    inputRows.value = rows;
    matrixInputsDiv.appendChild(inputRows);
    
    const inputColumns = document.createElement("input");
    inputColumns.type = "hidden";
    inputColumns.name = "columns";
    inputColumns.value = columns;
    matrixInputsDiv.appendChild(inputColumns);

}
</script>

{% endblock content %}